<router-outlet>
  <div class="content-div">
    <h1 align="left">What's it all about?</h1>
    <h2 align="left">Feast and Famine Living&trade; has been established to help others improve their quality of life!</h2>

    <div class="inner-content-div">
      <p>
        While different than other established diets, the Feast and Famine Lifestyle is backed by scientific research and provides
        various benefits to your personal vitality! Through this new way of living, you will maximize your potential to feel younger,
        healthier, and happier for the rest of your life! Guiding us on our way to helping you are these basic principles.
      </p>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae mi sed turpis tristique volutpat. Vivamus convallis facilisis turpis,
        nec auctor mauris blandit et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis leo at lacinia volutpat. Fusce sed risus molestie,
        cursus mi sit amet, efficitur enim. Nullam tristique purus ut lectus gravida, quis dapibus est vulputate.
        Integer vitae dolor aliquam, vehicula leo sit amet, convallis velit. Vivamus enim sem, efficitur sit amet lorem eu, hendrerit rhoncus lacus.
        Curabitur faucibus magna non lectus bibendum, et mattis leo dictum. Maecenas blandit purus ut arcu lobortis, vitae fringilla lorem fringilla.
    </p>
    <p>
        Nullam at pellentesque turpis. Vestibulum lobortis nibh augue, non porta mi volutpat eu. Mauris sed nisi vel ligula aliquam finibus ut sodales sem.
        Etiam ut sollicitudin dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Donec at porttitor tellus, eget tincidunt dui. Fusce quis elementum tellus. Etiam at bibendum libero, tincidunt imperdiet odio.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi tempor erat erat, vitae maximus leo vestibulum non.
        Donec justo dui, tincidunt eu hendrerit nec, ornare sed orci. Curabitur quis cursus enim. Vestibulum mauris magna, commodo id porta a, interdum in magna.
        Aliquam vel tortor sed lectus tempus iaculis a a lacus. Maecenas lobortis, arcu vel congue lobortis, ex elit viverra tellus, imperdiet porta nulla diam sit amet mi.
    </p>
    <p>
        Nam efficitur ante et lorem egestas, nec vulputate lorem facilisis. Phasellus neque libero, auctor vitae eros ac, viverra congue nisi.
        Sed vestibulum gravida odio, sed sollicitudin nunc lacinia ac. Duis blandit interdum nunc, id egestas nisl blandit ut.
        Integer lacinia mollis varius. Phasellus porta, nibh at blandit viverra, dolor nibh dictum ligula, eget lobortis tortor ipsum vitae ante.
        Donec molestie vel ante non pellentesque. Nulla facilisi. Maecenas faucibus urna eget rutrum molestie.
    </p>
    <p>
        Aliquam vel maximus metus, vitae ullamcorper felis. Sed finibus, nibh eget eleifend dapibus, lectus libero feugiat lectus, sit amet luctus ipsum mauris vel odio.
        Quisque gravida, odio eu accumsan lacinia, neque quam rhoncus enim, ac volutpat risus dui nec massa. Curabitur efficitur elit nec nisi tempor vestibulum.
        Fusce placerat, felis nec sollicitudin hendrerit, erat purus tristique libero, eget porttitor massa orci non sapien. Integer ac viverra odio.
        Quisque rutrum sed eros sit amet laoreet. Praesent eget metus nec lorem vestibulum placerat. Praesent eget dapibus est. Phasellus imperdiet consectetur felis ac viverra.
        Nam condimentum arcu ac diam gravida, non vulputate mauris accumsan. Phasellus venenatis diam sollicitudin, dictum augue sed, ullamcorper est.
        Fusce quis gravida lacus. In rutrum id sapien dictum egestas.
    </p>
    <p>
        Suspendisse vitae mauris fermentum, scelerisque sem vestibulum, dictum libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Morbi ornare semper est, a semper mi tristique eget. Donec aliquam in leo convallis suscipit. Pellentesque tristique urna vitae porta mollis.
        Curabitur at turpis nulla. Nam tempor neque eget est imperdiet viverra. Proin volutpat lectus nisi, vitae fringilla justo ornare ac.
        Suspendisse mollis auctor metus quis iaculis. Donec tempor commodo urna, sit amet elementum nunc interdum at.
        Morbi elementum, nulla in sodales aliquam, dui libero mattis sem, id placerat velit ligula in tellus.
    </p>
    <p>
        Cras iaculis nulla nunc. Morbi condimentum, nisl sit amet elementum euismod, mi est tincidunt lorem, et rutrum est nibh non magna.
        Quisque id fermentum est. Pellentesque ac tristique elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Vivamus a elit viverra, sollicitudin orci hendrerit, blandit nibh. Ut pharetra tortor sapien, at tincidunt dolor fringilla nec.
        Etiam auctor, nunc vel vestibulum tempus, nunc felis vehicula neque, at tincidunt mi enim ut sapien. Ut tempus arcu in sem sagittis convallis.
        Aenean blandit cursus lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ex elit, hendrerit et malesuada eu, ornare eget lorem.
        Suspendisse vel pellentesque ex, ullamcorper interdum lectus. Duis at imperdiet lorem. Nullam tempor justo et risus convallis aliquam.
        Mauris egestas sit amet purus nec molestie.
    </p>
    <p>
        Etiam dictum ligula a posuere fringilla. Ut eu dolor sollicitudin, viverra metus nec, consectetur magna. Nullam vel posuere felis.
        Curabitur sodales finibus sapien, non aliquet libero porttitor id. In vel augue in arcu luctus vulputate. Donec ac molestie nibh, sed pulvinar orci.
        Aenean pharetra diam nec ex convallis ullamcorper sed non erat. Morbi turpis sapien, lobortis eget venenatis ut, cursus at ante.
        Cras consectetur id velit vitae eleifend. Curabitur ornare, ante at bibendum placerat, elit ante hendrerit tellus, iaculis venenatis turpis lectus volutpat dui.
        Vivamus tempor ut ligula sed mollis. Aliquam convallis nunc odio. Proin quis dignissim ante.
    </p>
    <p>
        Aliquam sit amet ligula orci. Nulla sagittis lorem id porta ultricies. Nunc eget felis erat. Nunc vestibulum accumsan malesuada. Vivamus pellentesque sit amet lorem vel suscipit.
        Sed tincidunt massa quis diam accumsan, sit amet tempor mi luctus. Donec metus dolor, vulputate in risus id, commodo facilisis neque.
        Aliquam id ante nulla. In mattis rutrum orci. Nam elementum finibus justo, in porta nisi egestas vitae. Donec maximus neque auctor posuere tempor.
        Mauris dignissim et nisi et feugiat. Curabitur euismod tortor eu odio porta imperdiet. Nunc et tortor dui. Nullam consequat quam in enim ultrices fermentum.
    </p>
    <p>
        Aenean sed molestie ligula. Nunc sodales neque eget bibendum rhoncus. Morbi tristique erat non tellus pretium, ut mattis nunc suscipit.
        Phasellus molestie quam in massa pharetra, et convallis tortor dictum. Vivamus posuere dolor a risus dictum, interdum vehicula elit tempor.
        Etiam tempus risus eu lacus iaculis egestas. Duis facilisis interdum est eget malesuada. Praesent pulvinar lectus dui, non pretium mauris luctus nec.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis auctor ante non urna efficitur molestie. Integer laoreet ac libero vel hendrerit.
        Curabitur sit amet sem non risus tincidunt dapibus id eu nibh. In ullamcorper nisl blandit, efficitur ipsum sed, convallis dui. Pellentesque vitae felis nunc.
        Nulla et semper quam. Quisque non risus placerat, egestas odio ac, gravida libero.

    <p>
        Quisque a dolor non eros fringilla faucibus. Praesent tempor a lectus ut aliquet. Nunc et felis et sem cursus hendrerit. Integer elementum arcu non ligula euismod interdum.
        Integer eleifend neque suscipit, auctor ante ac, lacinia dolor. Suspendisse faucibus sem eu est venenatis consectetur. Integer risus velit, laoreet in vulputate non, placerat eget eros.
        Aenean rhoncus nec diam sed viverra.
    </p>
  </div>
</router-outlet>
